.contact {
  position: relative;
  z-index: 9;
  margin-top: -15rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  @include sectionBottom;

  &__form-inputs {
    background-color: transparent;
  }

  &__title {

  }

  &__form {
    max-width: 50%;
  }
}