.footer {
  margin-top: -10rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  
  &__logo {

  }

  &__social {


    &--link,
    &--link:link,
    &--link:visited {

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}