.footer {
  margin-top: -10rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  background-color: $color-secondary;
  
  &__logo {
    color: $color-primary-light;

  }

  &__social {


    &--link,
    &--link:link,
    &--link:visited {
      color: $color-primary-light;

      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }
}