.header {
  position: relative;
}

.hero {
  @include sectionBottom;
  position: relative;
  z-index: 1000;
}

.brain {
  background-size: auto;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 1rem;
  width: 30rem;
}


@media only screen and (max-width: 770px) {
  .brain {
    margin: 2rem auto;
    width: 15rem;
    padding: 0;
  }

  .hero {

    &__side-title {
      // display: none;
    }
  }
}
