.projects {
  margin-top: -10rem;
  padding-top: 15rem;
  padding-bottom: 10rem;
  position: relative;
  z-index: 10;

  @include sectionBottom;
  background-color: $color-primary;

  &__title {
    padding-bottom: 1rem;
  }
  
  &__quote {
    padding-bottom: 3rem;
    text-transform: uppercase;
    font-weight: 200;
  }
  
  &__search {
    padding-bottom: 1rem;

    &--skill {
      display: inline-block;
      cursor: pointer;
      
      &:not(:last-child) {
        margin-right: .5rem;
      }
    }
  }

  // &__content {
  //   width: 100%;
  //   position: absolute;
  //   // top: 
  // }

  &__container {
    margin: 0 1rem;
    padding: 2rem 0;
  }
  
  &__project {
    // @include boxShadowBlack;
    margin: 1rem;
    border-radius: 5px;
    position: relative;
    padding: 1rem;

    &:hover &--description {
      // transform: translateY(-25%);
      opacity: 1;
    }

    &--description {
      position: absolute;
      top: 50%;
      // transform: translateY(50%);
      // opacity: 0;
      margin: 0;
      padding: 1rem;
      width: 100%;
      height: 100%;
      transition: all .3s;
      backface-visibility: hidden;

    }

    &--show {
      margin: 0 auto;
      padding: 1rem;
    }
  }

}
