*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  max-width: 100vw;
}

body.light-mode {
  transition: background-color 0.3s ease;
}

// NAVBAR
.app {
    position: relative;
}

.is-middle {
    @include absCenter;
    width: 100%;
}

.hidden {
  display: none;
}

.column {
  padding: 0;
}

.button {
  background-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 5px;
  padding: .5rem 2rem;
  height: auto;
  outline: none;
  margin: 1rem 0;
  transition: .2s;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(-1px);
}

.trans {
  opacity: 0;
}
