// Themes

  // LIGHT THEME

  // color primary: #dddfe6 / rgba(221,223,230,1)
  // color primary light: #f4f5f9 / rgba(244,245,249,1) 
  // color secondary: #f1404b / rgba(241,64,75,1)
  // color text dark: #414141 / rgba(65,65,65,1)

  $color-primary: #dddfe6;
  $color-primary-light: #f4f5f9;
  $color-secondary: #f1404b;
  $color-text-dark: #414141;

  $color-black: #000;

  // DARK THEME

  // color primary: #313131 / rgba(49,49,49,1)
  // color primary light: #414141 / rgba(65,65,65,1)
  // color secondary: #ca3e47 / rgba(202,62,71,1)
  // color text light: #dddfe6 / rgba(221,223,230,1)

